<!-- Extending the base html with this html file -->
{% extends "base.html" %}

<!-- Overwriting the meta description block -->
{% block metaDescription %}
<meta name="description" content="{{ all_meta_description_objs.last.text }}">
{% endblock %}

<!-- Overwriting the title block -->
{% block title %}
<title>Blog</title>
{% endblock %}

<!-- Overwriting the stylesheet block -->
{% block stylesheet %}
{% load static %}
<link rel='stylesheet' href="{% static 'styles/blog/blog.css' %}">
{% endblock %}

<!-- Overwriting the mainBox block -->
{% block mainBox %}
<div id="BlogPageBox">
    
    <h1>BLOG</h1>

    {% if all_blog_post_objs.first.title %}
    <div id="BlogContentBox">

        {% for p in all_blog_post_objs %}

        {% if p.post_type == "e" %}

        {% if user.is_authenticated %}
        <div class="container my-4">

            <div class="row">

                <div class="col-md-8 offset-md-2">
        
                    <!-- Blog Post Title -->
                    <h2 class="text-center">{{ p.title }}</h2>
        
                    <!-- Date -->
                    <p class="text-center text-muted">Published on {{ p.date }}</p>
        
                    <!-- Blog Post Image -->
                    {% if p.image %}
                    
                    <img src="{{ p.image.url }}" class="img-fluid mb-4" alt="{{ p.alt }}">
                    
                    <!-- Blog Post Video -->
                    {% elif p.video %}
                    
                    <video width="100%" height="auto" controls>

                        <source src="{{ p.video.url }}" type="video/mp4">

                        Your browser does not support the video tag.

                    </video>

                    {% elif p.youtube_url %}

                    <!-- YouTube Video Embed -->
                    <div class="embed-responsive embed-responsive-16by9 mb-4">

                        <iframe class="embed-responsive-item" src="{{ p.youtube_url }}" allowfullscreen></iframe>

                    </div>

                    {% endif %}
        
                    <!-- Blog Post Content -->
                    <p>
                        {{ p.para1}}
                    </p>
        
                    <!-- Read More Button -->
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary btn-block">Read More</a>
        
                </div>

            </div>

        </div>

        {% endif %}

        {% else %}
        <div class="container mb-5">

            <div class="row">

                <div class="col-md-8 offset-md-2">
        
                    <!-- Blog Post Title -->
                    <h2 class="text-center">{{ p.title }}</h2>
        
                    <!-- Date -->
                    <p class="text-center text-muted">Published on {{ p.date }}</p>
                    
                    <!-- Blog Post Image -->
                    {% if p.image %}

                    <img src="{{ p.image.url }}" class="img-fluid mb-4" alt="{{ p.alt }}">
                    
                    <!-- Blog Post Video -->
                    {% elif p.video %}
                    
                    <video width="100%" height="auto" controls>

                        <source src="{{ p.video.url }}" type="video/mp4">

                        Your browser does not support the video tag.

                    </video>

                    {% elif p.youtube_url %}

                    <!-- YouTube Video Embed -->
                    <div class="embed-responsive embed-responsive-16by9 mb-4">

                        <iframe class="embed-responsive-item" src="{{ p.youtube_url }}" allowfullscreen></iframe>

                    </div>

                    {% endif %}
                    
                    <!-- Blog Post Content -->
                    <p>
                        {{ p.para1}}
                    </p>
        
                    <!-- Read More Button -->
                    <a href="{{ p.get_absolute_url }}" class="btn btn-primary btn-block">Read More</a>
        
                </div>

            </div>

        </div>

        {% endif %}
    
        {% endfor %}

    </div>
    {% endif %}

</div>
{% endblock %}

{% block js %}
<script>

    sendScreenSize("blog_page_visit_information", "{{ csrf_token }}");

</script>
{% endblock %}